<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <i class="icon icon-reorder"></i> Menu
      </a>
      <a class="brand" href="#"><%= Settings.env.appname %></a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <%= nav_link 'Início', inicio_path %>
          <li class="divider-vertical"></li>
          <%= nav_link 'Profissionais', login_path%>
          <%= nav_link 'Planos de Saúde', login_path%>
          <li class="divider-vertical"></li>
          <%= nav_link 'Como Funciona', login_path %>
          <%= nav_link 'Quem Somos Nós', login_path %>
        </ul>
        <ul class="nav pull-right">
          <li><%= entrar_sair %></li>
          <li class="divider-vertical"></li>
          <li><%= registrar_admin %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="sub-navbar">
    <div class="container">
      <p><i class="icon icon-user"></i> Hello, Guest. Thanks for loging in.</p>
      <p><%= render "frente/messages" %></p>
    </div>
  </div>
</div>
