<div class="content">
  <div class="header">
    <%= render "sharedadmin/stats" %>
    <h1 class="page-title">Dashboard</h1>
  </div>

  <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li class="active">Dashboard</li>
  </ul>

  <div class="container-fluid">
    <div class="row-fluid">

      <%= render "sharedadmin/messages" %>

      <%= yield %>

      <%= render "sharedadmin/box0" %>
      <%= render "sharedadmin/box0" %>
    <%= render "sharedadmin/footer" %>
    </div>
  </div>

</div>
