<%= simple_form_for([@user, @profile], :html => {:multipart => true , :class => 'form-horizontal  form-flexible' }) do |f| %>

<fieldset>
  <% @profile.errors.full_messages.each do |msg| %>
  <p><%= msg %></p>
  <% end %>

  <%= f.hidden_field :user_id, :value => current_user.id %>


  <div class="control-group">
    <label class="control-label" for="loginEmail">Fullname</label>
    <div class="controls">
      <%= f.text_field :fullname, :required => false, :autofocus => true, :class => "input-flexible" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :birthdate, :class => "control-label" %>
    <div class="controls input-append date" id="datepicker" data-date="<%= @profile.birthdate %>" data-date-format="dd-mm-yyyy">
        <%= f.text_field :birthdate, :type => "text" %>
        <span class="add-on"><i class="icon-th"></i></span>
    </div>
  </div>

  <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    <input class="span2" size="16" type="text" value="12-02-2012">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>

  <div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    <input class="span2" size="16" type="text" value="12-02-2012" readonly="">
    <span class="add-on"><i class="icon-calendar"></i></span>
  </div>

<div class="form-actions">
  <%= f.submit nil, :class => 'btn btn-primary' %>
</div>

<% end %>

<!--
 -->
