<!DOCTYPE html>
<html lang="en">
  <%= render 'sharedadmin/head' %>
  <body>

    <%= render "sharedadmin/menu" %>
    <%= render "sharedadmin/sidebar" %>
    <%= render "sharedadmin/content" %>
    <%= render "sharedadmin/scripts" %>

  </body>
</html>
